.App {
  color: #ddd;
  padding: 1em;
  background-image: url(../images/1large.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}