.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 800px) {
    max-width: 800px;
    margin: 0 auto;
  }

  h2 {
    margin-top: 1em;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .3);
  }

  input[type='submit'] {
    margin-top: 3em;
    align-self: flex-end;
    padding: .8em 1.5em;
    border-radius: 1em;
    border: 1px solid #eee;
    background-color: rgb(236, 255, 129);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #000;
      color: rgb(236, 255, 129);
      border: 1px solid #000;
    }

  }
}

.success {
  margin: 2em 0;
  color: lightgreen;
  align-self: flex-end;
  transition: .3s;
}

.error {
  color: red;
  font-weight: bold;
  display: block;
}