.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 3em;
  padding: 1em .5em;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  @media (min-width: 600px) {
    padding: 1em;
  }

  @media (min-width: 800px) {
    max-width: 800px;
    margin: 2em auto;
    border-radius: 5em;
    padding: 3em;
  }

  h2 {
    margin-top: 1em;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .3);
  }

  input[type='submit'] {
    margin-top: 3em;
    margin-right: 1em;
    align-self: flex-end;
    padding: .8em 1.5em;
    border-radius: 1em;
    border: 1px solid #eee;
    background-color: rgb(236, 255, 129);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #000;
      color: rgb(236, 255, 129);
      border: 1px solid #000;
    }
  }
}

.success {
  margin: 2em 0;
  margin-right: 1em;
  color: lightgreen;
  align-self: flex-end;
  transition: .3s;
}

.error {
  color: red;
  font-weight: bold;
  display: block;
  font-size: .8em;
}